<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Admin</title>
		<link rel="stylesheet" type="text/css" href="/css/admin.css">
	</head>

	<body>
		<div class="content">
			<h2>Criar uma nova categoria</h2>
			<form action="admin/categories/create", method="post"/>
				<label>Nome:</label>
				<input type="text", name="categoryName" required="required"/>
				<input type="submit"/>
			</form>

			<h2>Criar um novo produto</h2>
			<form action="admin/categories/createproduct", enctype="multipart/form-data", method="post"/>
				
				<label>Nome:</label>
				<input type="text", name="productName" required="required"/><br>
				
				<label>Preço: R$ </label>
				<input type="text", name="productPrice" required="required"/><br>
				
				<label>Descrição:</label><br>
				<textarea name="productDesc" required="required"></textarea><br>
				
				<label>Imagem:</label>
				<input type="file", name="thumbnail" required="required"/>
				
				<select name="productCategory">
					{{#each categories}}
						<option value="{{categoryName}}">{{categoryName}}</option>
					{{/each}}
				</select>
				<input type="submit"/>
			</form>


		<h2>Categorias</h2>
		<ul>
			{{#each categories}}
			<li><p>{{this.categoryName}}</p></li>
			<li><a href="admin/categories/{{this.id}}/destroy">Deletar</a>
					<a href="admin/categories/{{this.id}}/edit">Editar</a>
			</li>
			<ul>
				{{#each this.Products}}
					<li>
						<img src="/tmp/{{this.productImage}}"><p>{{this.productName}}</p><br><p>${{this.productPrice}}</p><br><p>{{this.productDesc}}</p><br><p>{{this.productImage}}</p>
					</li>
					<li>
						<a href="admin/categories/{{../this.id}}/products/{{this.id}}/destroy">Deletar</a>
						<a href="admin/categories/{{../this.id}}/products/{{this.id}}/edit">Editar</a>
					</li>
				{{/each}}
			</ul>
			{{/each}}
		</ul>
	</div>
</body>
</html>