<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<h2>Create a new category</h2>
<form action="admin/categories/create", method="post"/>
	<label>Name:</label>
	<input type="text", name="categoryName" required="required"/>
	<input type="submit"/>
</form>
<h2>Create a new product</h2>
<form action="admin/categories/createproduct", enctype="multipart/form-data", method="post"/>
	<label>Name:</label>
	<input type="text", name="productName" required="required"/><br>
	<label>Price:$</label>
	<input type="text", name="productPrice" required="required"/><br>
	<label>Description:</label><br>
	<textarea rows="4", cols="50", name="productDesc" required="required"></textarea><br>
	<label>Image:</label>
	<input type="file", name="thumbnail" required="required"/>
	<select name="productCategory">
		{{#each categories}}
			<option value="{{categoryName}}">{{categoryName}}</option>
		{{/each}}
	</select>
	<input type="submit"/>
</form>


<h2>Categories</h2>
<ul>
	{{#each categories}}
		<li><p>{{this.categoryName}}</p></li>
		<li><a href="admin/categories/{{this.id}}/destroy">Destroy</a>
				<a href="admin/categories/{{this.id}}/edit">Edit</a>
		</li>
		<ul>
			{{#each this.Products}}
				<li>
					<img src="/tmp/{{this.productImage}}" width=100px><p>{{this.productName}}</p><br><p>${{this.productPrice}}</p><br><p>{{this.productDesc}}</p><br><p>{{this.productImage}}</p>
				</li>
				<li>
					<a href="admin/categories/{{../this.id}}/products/{{this.id}}/destroy">Destroy</a>
					<a href="admin/categories/{{../this.id}}/products/{{this.id}}/edit">Edit</a>
				</li>
			{{/each}}
		</ul>
	{{/each}}
</ul>
</body>
</html>